.title{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(172, 42, 172);
    text-align: center;
}
.description{
    color: pink;
    margin-top: 10px;
}
.text{
    color: palevioletred;
    font-size: 2rem;
}
.hobby{
    color: red;
}
.foot{
    color:black;
    font-size: 1rem;
    font-family: bold;
}